body{
    background-color: hsl(30, 38%, 92%);
    font-family: 'Montserrat', sans-serif;
}

.product{
    display: flex;
    height: 430px;
    margin: 100px auto;
    max-width: 600px;
    border-radius: 10px;
    overflow: hidden;
}

.product > * {
    flex: 1;
    flex-shrink: 0;
}

.preview{
    background-color: hsl(0, 0%, 100%);
    padding:10px 30px 0;
    box-sizing: content-box;
    max-width: 240px;
}


h1{
    font-family: 'Fraunces', serif;
    color: hsl(212, 21%, 14%);
    margin: 0 20px 0 0;
    line-height: 30px;
}   

h6{
   color: hsl(228, 12%, 48%);
   font-weight: 100;
   letter-spacing: 5px;
}
h5{
    color: hsl(228, 12%, 48%);
    margin: 20px 20px 20px 0;
    font-weight: 100;
    line-height: 22px;
 }

 .price-container{
    display: flex;
    align-items: center;
 }

.price{
   color: hsl(158, 36%, 37%);
   font-family: 'Fraunces', serif;
   font-size: xx-large;
   margin-right: 15px;
}

.discounted-price{
  color: hsl(228, 12%, 48%);
  font-size: small;
}

.btn {
    margin-top: 25px;
    text-align: center;
    font-size: 12px;
    font-family: 'Montserrat', sans-serif;
    width: auto;
    height: 42px;
    border: none;
    color: #fff;
    background-color: hsl(158, 36%, 37%);
    border-radius: 7px;
    width: 100%;
  }

  .cart{
    height: 12px;
    margin: 0 10px;
  }


  
                